.header {
  display: flex;
  width: 1200px;
  height: 50px;
  margin: auto;
}
.header img {
  height: 50px;
}
.header svg {
  margin-top: 15px;
}
.header p {
  font-weight: 700;
}
.weather {
  margin-left: 50px;
}
